<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="mf.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
</head>
<body>
<div class="container" ng-controller="customersCtrl">
    <div class="header">
        <input type="text" placeholder="search" id="txt" ng-model="x">
        <input type="button" value="search" id="btn">
    </div>
    <div class="ma">
<h1></h1>
          <div class="box {{foo.gender=='M'?'male':'female'}} " ng-repeat="foo in myData | filter:x " >
               <b style="font-size: large"> {{foo.name }}</b><br/><br/>
              ID : {{foo.id}} <br/><br/>
              GENDER: {{foo.gender}}<br/><br/>
              EMAIL:{{foo.email}}<br/><br/>
              CITY:{{foo.city}}

          </div>
        <h1></h1>
    </div>


</div>
<div ng-view></div>
<script src="mfservices.js"></script>
</body>
</html>